<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="false" >
<listeners>
		<listener class-name="project.listners.ExtentReportListener" />
	</listeners>
	
 <test thread-count="1"  name="TruckX Test Automation" preserve-order="true" >
     <classes>
	    	
	   	<class name="project.testscenarios.LoginScript"/>  

	 	<class name="project.testscenarios.TruckScript"/> 
		<class name="project.testscenarios.TrailerScript"/>  
																
		<class name = "project.testscenarios.AssetsScript"/> 
		<class name = "project.testscenarios.TrackingLinksScript"/> 
	 	
		<class name="project.testscenarios.MessageScript"/>
	
		<class name="project.testscenarios.TrackingDevicesScript"/>  
		<class name="project.testscenarios.DashCameraScript"/> 
		<class name = "project.testscenarios.ELDDevicesScript"/>    
		
		<class name="project.testscenarios.DriversScript"/> 
		<class name = "project.testscenarios.DeletedDriverScript"/> 
		
		<class name = "project.testscenarios.IFTAReportScript"/>  
		
		<class name = "project.testscenarios.CompanyProfileScript"/>
		<class name="project.testscenarios.BillingDetailsScript"/>
		
		<class name = "project.testscenarios.DriverSafetyScript"/>
		<class name = "project.testscenarios.DutyStatusSummaryScript"/>
	    <class name="project.testscenarios.ELDLogbookEditsScript"/>
        <class name="project.testscenarios.FuelEfficiencyReportScript"/>
		<class name="project.testscenarios.PostTripDVIRReportScript"/>  
	   	<class name="project.testscenarios.PreTripDVIRReportScript"/>  
	    <class name="project.testscenarios.TemperatureHumidityScript"/>
	    <class name="project.testscenarios.TripHistoryReportScript"/>
		<class name="project.testscenarios.UtilizationReportScript"/>  
    
    
	 	<class name = "project.testscenarios.APIKeyTransferScript"/>  
		
		<class name = "project.testscenarios.FeatureScript"/> 
		
		<class name = "project.testscenarios.AlertsScript"/>  
		
        <class name = "project.testscenarios.DeleteTestData"/>  	  
        
	    <class name="project.testscenarios.LogoutScript"/> 
        <class name="project.testscenarios.ForgotPasswordScript"/> 
        
 <!--   <class name="project.testscenarios.AdminRegistrationScript"/> -->

     </classes>
  </test> 

</suite>
 